
.project-introduction {
    padding-left: 40px;
}
.project-introduction-title {
    padding-left: 10px;
    font-family: Microsoft YaHei;
    font-weight: bold;
    font-size: 20px;
    /* padding-bottom: 5px; */
}
.project-introduction-paragraph {
    text-align: justify;
    text-justify: inter-ideograph;
    font-size: 15px;
    text-indent: 2em;
    line-height: 25px;
    margin: 5px;
}
.page-header {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 0px;
    font-family: Microsoft YaHei;
}
.panel-title {
    font-size: 20px;
    font-family: Microsoft YaHei;
    font-weight: bold;
}
.more-news a:hover, .more-notifications a:hover {
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
}
.more-news, .more-notifications {
    float: right;
    padding: 17px 15px 10px 15px;
}
.news-ul span, .notification-ul span {
    float: right;
}
.news-title, .notification-title {
    width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.news-ul a {
    color: #005825;
}
.news-ul a {
    color: #005825;
}
.panel-body {
    font-size: 20px;
    padding-bottom: 5px;
    background-color: #F8F8FF;
}
.news-ul, .notification-ul {
    padding: 0px 0px;
}
.news-ul li, .notification-ul li {
    line-height: 25px;
    font-size: 15px;
}

.project-introduction {
    padding-left: 40px;
}
.footer {
    font-size: 13px;
}