<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="__PUBLIC__/pics/logo.jpg" type="image/x-ico">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>首页</title>
    <!-- Bootstrap -->
    <link href="__PUBLIC__/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="__PUBLIC__/jquery/jquery-1.11.3.min.js"></script>
    <!-- 自己的js和css -->
    <script src="__PUBLIC__/myjs/AboutProject/showdetail.js"></script>
    <link href="__PUBLIC__/mycss/AboutProject/show.css" rel="stylesheet">
</head>

<body>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <!-- 包含头部显示文件 -->
            <include file="./Application/Home/View/header.html" />
            <div class="row">
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <ul class="list-group">
                                <li class="list-group-item title">螺</li>
                                <a class="list-group-item items">藁杆双脐螺</a>
                                <a class="list-group-item items">福寿螺</a>
                                <a class="list-group-item items">褐云玛瑙螺</a>
                                <a class="list-group-item items">Dapibus ac facilisis in</a>
                                <li class="list-group-item title">蚊媒</li>
                                <a class="list-group-item items">白纹伊蚊</a>
                                <a class="list-group-item items">埃及伊蚊</a>
                                <li class="list-group-item title">病原体</li>
                                <a class="list-group-item items">锥虫</a>
                                <a class="list-group-item items">疟原虫</a>
                                <a class="list-group-item items">血吸虫</a>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="panel panel-default">
                        <div class="panel-body" id="detail-content">
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <!-- 包含尾部显示文件 -->
            <include file="./Application/Home/View/footer.html" />
        </div>
        <div class="col-md-1"></div>
    </div>
</body>

</html>
