<link href="__PUBLIC__/mycss/header.css" rel="stylesheet">
<!-- 头部文字 -->
<div class="row">
    <div class="col-md-2">
        <img src="__PUBLIC__/pics/logo.jpg" alt="..." class="img-rounded" id="logo">
    </div>
    <div class="col-md-10">
        <br/>
        <p id="head-text">
            国家重点研发计划——重要热带病传播相关的入侵媒介及其病原体的生物学特性研究
        </p>
        <div class="row">
            <div class="col-md-8">
                <p id="sub-head-text">
                    National Research and Development Plan: Research on Biological Characteristics of the Tropical Disease Related Invasion vectors and Pathogens
                </p>
            </div>
            <div class="col-md-2">
                <div class="form-group has-success has-feedback">
                    <input type="text" class="form-control" id="inputSuccess2">
                    <span class="glyphicon glyphicon-search form-control-feedback" id="search-btn"></span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 导航条 -->
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid" id="nav">
        <ul class="nav navbar-nav" id="nav-content">
            <li ><a href="{:U('Index/index')}" class="nav-item" id="nav-index">首页</a></li>
            <li ><a href="{:U('AboutProject/show')}" class="nav-item" id="nav-aboutproject">关于项目</a></li>
            <li class=""><a href="{:U('ResearchTeam/show')}" class="nav-item" id="nav-researchteam">研究团队</a></li>
            <li class=""><a href="{:U('ProjectProgress/show')}" class="nav-item" id="nav-projectprogress">项目进展</a></li>
            <li class=""><a href="{:U('FilePublish/show')}" class="nav-item" id="nav-filepublish">发表文章</a></li>
            <li class=""><a href="{:U('AcademicComunication/show')}" class="nav-item" id="nav-academiccomunication">学术交流</a></li>
        </ul>
    </div>
</nav>
