<!-- 首页帖子内容 -->
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
<!-- 折叠帖子时，跳到下一篇文章的开头 -->
<?php 
$len=count($postInfo);
for ($i=0; $i <$len; $i++) { 
	$nextids[$i]=($i==$len-1)?$postInfo[0]['post']['postid']:$postInfo[$i+1]['post']['postid'];
}
?>
<foreach name="postInfo" item="vo" > 
<?php 
  $Info=$vo['post'];
  $Reply=$vo['Reply'];
  $flag=$vo['flag'];
  $nextid=$nextids[$key];
  // var_dump($vo);
 ?>
 <!-- 设置折叠后跳转的锚点 -->
 <a name="to-post-{$nextid}"></a>
<!-- <include file="./Application/Home/View/postcontent.html" /> -->
</foreach>
</div>
<!-- 首页帖子内容end -->