<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="__PUBLIC__/pics/logo.jpg" type="image/x-ico">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>首页</title>
    <!-- Bootstrap -->
    <link href="__PUBLIC__/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="__PUBLIC__/jquery/jquery-1.11.3.min.js"></script>
    <!-- 自己的js和css -->
    <script src="__PUBLIC__/myjs/FilePublish/show.js"></script>
    <link href="__PUBLIC__/mycss/FilePublish/show.css" rel="stylesheet">
</head>

<body>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <!-- 包含头部显示文件 -->
            <include file="./Application/Home/View/header.html" />
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">2016</h3>
                </div>
                <div class="panel-body">
                    78. <a href="">aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</a>
                    <br> author
                    <br>
                    <br> 77. <a href="">aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</a>
                    <br> author
                    <br>
                </div>
            </div>
            <hr>
            <!-- 包含尾部显示文件 -->
            <include file="./Application/Home/View/footer.html" />
        </div>
        <div class="col-md-1"></div>
    </div>
</body>

</html>
