<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="__PUBLIC__/pics/logo.jpg" type="image/x-ico">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>首页</title>
    <!-- Bootstrap -->
    <link href="__PUBLIC__/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="__PUBLIC__/jquery/jquery-1.11.3.min.js"></script>
    <!-- 自己的js和css -->
    <script src="__PUBLIC__/myjs/FilePublish/show.js"></script>
    <link href="__PUBLIC__/mycss/FilePublish/show.css" rel="stylesheet">
</head>

<body>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <!-- 包含头部显示文件 -->
            <include file="./Application/Home/View/header.html" />
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">2016</h3>
                </div>
                <div class="panel-body">
                    78. <a href="https://www.science-open.com/document_file/1710e287-11ed-4e48-a775-5aaff6e1590b/PubMedCentral/1710e287-11ed-4e48-a775-5aaff6e1590b.pdf" target="_blank">Complete telomere-to-telomere de novo assembly of the Plasmodium falciparum genome through long-read (>11 kb), single molecule, real-time sequencing</a>
                    <br> Shruthi Sridhar Vembar, Matthew Seetin, Christine Lambert.DNA Research, 2016, 23(4):339-351.
                    <br>
                    <br> 77. <a href="http://biorxiv.org/content/biorxiv/suppl/2016/03/20/044925.DC1/044925-1.pdf" target="_blank">Assemblytics: a web analytics tool for the detection of assembly-based variants</a>
                    <br> Nattestad M, Schatz M C. Bioinformatics, 2016.
                    <br>
                    <br> 76. <a href="http://doc.rero.ch/record/261064/files/rhe_iie.pdf" target="_blank">Insight into the evolution of the Solanaceae from the parental genomes of Petunia hybrida.</a>
                    <br>
                    <br> Bombarely A, Moser M, Amrad A, et al. Nature Plants, 2016, 2(6).
                    <br> 75. <a href="http://researchrepository.murdoch.edu.au/31093/1/assembly%20of%20the%20asian%20seabass.pdf" target="_blank"> Chromosomal-Level Assembly of the Asian Seabass Genome Using Long Sequence Reads and Multi-layered Scaffolding</a>
                    <br> Shubha V, Heiner K, Kuznetsova I S, et al.Plos Genetics, 2016, 12(4).
                    <br>
                    <br> 74. <a href="https://www.researchgate.net/publication/293487382_Geospatial_Phylogenomics_bed_bugs_in_NYC-ncomms10164" target="_blank" > Genome assembly and geospatial phylogenomics of the bed bug Cimex lectularius</a>
                    <br> Rosenfeld J A, Reeves D, Brugler M R, et al. Nature Communications, 2016, 7.
                </div>

            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">2015</h3>
                </div>
                <div class="panel-body">
                    73. <a href="https://www.researchgate.net/publication/283422792_The_pineapple_genome_and_the_evolution_of_CAM_photosynthesis" target="_blank">The pineapple genome and the evolution of CAM photosynthesis</a>
                    <br> Ming R, Vanburen R, Wai C M, et al.  Nature Genetics, 2015, 47(12):1435-42.
                    <br>
                    <br> 72. <a href="http://repository.cshl.edu/31959/1/Schatz%20Genome%20Biology%202015c.pdf" target="_blank">Teaser: Individualized benchmarking and optimization of read mapping results for NGS data</a>
                    <br>  Smolka M, Rescheneder P, Schatz M C, et al.  Genome Biology, 2015, 16(1):1-10.
                    <br>
                    <br> 71. <a href="http://genome.cshlp.org/content/early/2015/10/09/gr.191395.115.full.pdf" target="_blank"> Oxford Nanopore sequencing, hybrid error correction, and de novo assembly of a eukaryotic genome.</a>
                    <br>
                    <br> Goodwin S, Gurtowski J, Ethesayers S, et al. Genome Research, 2015, 25(11).
                    <br> 70. <a href="http://genome.cshlp.org/content/25/10/1417.full.pdf"> Biological data sciences in genome research.</a>
                    <br> Schatz M C.  Genome Research, 2015, 25(10):1417-1422.
                    <br>
                    <br> 69. <a href="http://repository.cshl.edu/31893/1/Schatz%20Genome%20Biology%202015b.pdf" target="_blank" > Metassembler: merging and optimizing de novo genome assemblies</a>
                    <br>Wences A H, Schatz M C.  Genome Biology, 2015, 16(1):1-10.
                </div>

            </div>
            <hr>
            <!-- 包含尾部显示文件 -->
            <include file="./Application/Home/View/footer.html" />
        </div>
        <div class="col-md-1"></div>
    </div>
</body>

</html>
